load datasets

In [94]:
from scipy import *
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
data = pd.read_csv('events.csv', dtype={'timestamp' : np.int64, 'visitorid' : int, 'event' : str, 'itemid' : int},nrows=50000)    
data.head()

28860

In [89]:
action_scores = {'view': 1, 'addtocart': 2, 'transaction': 3}

# Add a new column for scores based on the action column
data['score'] = data['event'].map(action_scores)

In [90]:
data = data.drop(['timestamp','event','transactionid'],axis=1)

In [91]:
# Normalize visitorid and itemid column by subtracting its minimum value
data["visitorid"] = data["visitorid"] - data["visitorid"].min()
data['itemid'] = data['itemid'] - data['itemid'].min()

In [92]:
# groupby visitorid an sum the score
data = data.groupby(['visitorid','itemid']).sum().reset_index()
len(data['visitorid'].unique())

28860

In [93]:
# Create user-item matrix with scores, the columns are items, the rows are users
user_item_matrix = data.pivot(index='visitorid', columns='itemid', values='score')
user_item_matrix

itemid,0,9,49,60,86,141,162,184,189,211,...,466754,466766,466779,466783,466789,466822,466852,466855,466858,466861
visitorid,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1407323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1407357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1407400,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1407483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1407559,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN